<h6 class="text-center">Employee Register</h6>
<table class="table table-sm table-hover">
  <tr *ngFor="let employee of employeeList" >
    <td>{{employee.name}}</td>
    <td>{{employee.position}}</td>
    <td>{{employee.office}}</td>
    <td>{{employee.salary}}</td>
    <td>
      <a class="btn" (click)="onEdit(employee)">
        <i class="fa fa-pencil-square-o"></i>
      </a>
      <a class="btn" (click)="onDelete(employee.$key)">
        <i class="fa fa-trash-o"></i>
      </a>
    </td>
  </tr>
</table>