<div class="text-center">
  <h2 class="title_A">Employee Register</h2>
</div>
<div class="row">
  <div class="col-md-6 style_A">
    <app-employee></app-employee>
  </div>
  <div class="col-md-6">
    <app-employee-list></app-employee-list>
  </div>
</div>