<form #employeeForm="ngForm" (ngSubmit)="onSubmit(employeeForm)">
    <input type="hidden" class="form-control" name="$key" #$key="ngModel" [(ngModel)]="employeeService.selectedEmployee.$key" >

    <div class="form-group">
      <label for="">Name</label>
      <input type="text" class="form-control" name="name" #name="ngModel" [(ngModel)]="employeeService.selectedEmployee.name" placeholder="Nombre" required ="required" >
    </div>
  
    <div class="form-group">
      <label for="">Position</label>
      <input type="text" class="form-control" name="position" #position="ngModel" [(ngModel)]="employeeService.selectedEmployee.position" placeholder="Posicion" >
    </div>

    <div class="form-group">
      <label for="">Office</label>
      <input type="text" class="form-control" name="office" #office="ngModel" [(ngModel)]="employeeService.selectedEmployee.office" placeholder="Oficina" >
    </div>

    <div class="form-group">
      <label for="">Salary</label>
      <div class="input-group">
        <div class="input-group-addon">
          <i class="fa fa-dollar"></i>
        </div>
        <input type="text" class="form-control" name="salary" #salary="ngModel" [(ngModel)]="employeeService.selectedEmployee.salary" placeholder="Salary" >
      </div>
    </div>

    <div class="form-group">
      <button class="btn btn-default" type="submit" [disabled]="!employeeForm.valid" ><i class="fa fa-floppy-o"></i> Submit</button>
      <button class="btn btn-default" type="button" (click)="resetForm(employeeForm)"><i class="fa fa-repeat"></i> Reset</button>
    </div>
  </form>