/* You can add global styles to this file, and also import other style files */
input.ng-invalid.ng-dirty{
    border: 1px solid red;
}

button:hover , a.btn:hover{
    cursor: pointer;
}

.title_A {
    padding: 20px 1rem;
    margin-bottom: 2rem;
    background-color: #B77F1A;
    border-radius: .3rem;
    color: white;
}

.style_A {
    border-right: 1px solid #b77f1a;
}